.list-item {
  padding: 10px 0px;
}

.list-item-box {
  display: flex;
  flex-direction: row;
}

.list-item-box img {
  height: 100px;
  width: 100px;
  margin-right: 12px;
}

.chart {
  --scale: 100;

  /* Setup the grid */
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(var(--scale), minmax(0, 1fr)) 1.4rem;
  grid-column-gap: 5px;

  /* Generate background guides */
  /* (sub-pixel rounding errors make this imperfect) */
  --line-every: 10;
  background-image: linear-gradient(to bottom, #ccc 1px, transparent 1px);
  background-size: 100% calc((100% - 1.4rem) / var(--scale) * var(--line-every));

  /* other styles… */
  margin: 2em auto 1em;
  padding: 0 1em;
  position: relative;
  max-width: 70vw;
  height: calc(100vh - 3em);
}

.chart::after {
  background: #fff;
  bottom: 0;
  content: ' ';
  height: 1.4rem;
  left: 0;
  position: absolute;
  right: 0;
}


.placeholder {
  text-align: center;
  font-size: 40px;
}

.title-list {
  font-weight: bold;
}

.date {
  align-items: center;
  display: flex;
  font-weight: bold;
  grid-row-start: -2;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.bar {
  grid-row: var(--start) / -2;

  /* Background-Color */
  background-image: linear-gradient(to right, green, yellow, orange, red);
  background-size: 1600% 100%;
  background-position: calc(var(--start) * 1%) 0;

  /* Other styles… */
  border-radius: 5px 5px 0 0;
  color: #000;
  list-style: none;
  position: relative;
}

.value {
  background: #fff;
  bottom: 100%;
  display: inline-block;
  left: 50%;
  padding: 0 0.4em;
  position: absolute;
  transform: translate(-50%, -1px);
}

.buttons {
  margin-top: 8px;
}

* {
  box-sizing: border-box;
}
